.card{
    width:20%;
    margin:3%;
  
   border: 0px !important;
   
    
}

.card .image{
    position:relative;
    background-color: transparent;
}  
.card .image img{
   width:100%;
   box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
   background-color: rgba(104, 101, 101,0.2);
  
 
}
.cost .originalprice{
    text-decoration: dashed !important;
}
.content{
    display: flex;
    flex-direction:column;
}
.content1{
    margin-top:25px;
    display: flex;
    justify-content: space-between;
}
.content1 div h5{
   margin-left:3px;
   display: inline;
   text-transform: capitalize;
   font-weight: bold;
   font-size:15px

}

.content1 div  p:first-of-type{
    margin-left: 20px;
    margin-right:10px;
    
   
}

.cost{
    display: flex;
    justify-content: space-between
}
.content2{
    width:80%

}
.content .button{
    margin-top:20px;
    width:100%;
    background-color:transparent!important;
    border: 2px solid skyblue
}
.wrapper{
    margin-top:20px;
}
.wrapper .sub,.add{
    width:20%;
    background-color: rgb(47, 164, 211);
    border: rgb(47, 164, 211);
    color:whitesmoke;
   height:35px;
}
.countt{
    width:50%;
    height:35px;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
   padding-left: 20%;
   
}
 .wrapper{
    width:100%;
    display: flex;
}
.discountband{
    width:70px;
    height:20px;
    background-color:black;
    position: absolute;
    top:0px;
    right:0px;
    color:whitesmoke;
}