.cart_main1 {
    margin-top: 30px;
    margin-left: 10%;

}

.cart_main2 {
    width: 90%;
    display: flex;
    height: 70vh;
    justify-content: space-between;

}

.cart_main2 .main21 {
    width: 50%;
    height: 70vh;
    display:flex;
    flex-direction:column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


   
}
.cart_main2 .main22 {
    width: 40%;
    height: 80vh;
   
    background-color: #edf2f5;
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


   
}
.main21 table thead tr th{
  text-align: center;

}
.main21 table thead tr {
    text-align: center;
    height:60px;
    border-bottom:0.5px solid gray
    
  }
  .main21 table tbody tr {
      margin-top:20px;
      height:60px;
    
  }
  .main21 table{
   border-bottom: 1px solid gray;
  }
.main21 table tbody tr td{
    text-align: center;
  }
.main21 table thead tr{
    justify-content:space-between
}
.main21_wrapper

.cart_main2 .main22 {
    width: 40%;
    height: 80vh;
    background-color: #edf2f5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.main21_wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.main21_wrapper .subb,.addd{
    width:35px;
    background-color: #4e5565;
   height:25px;
    color:whitesmoke;
    border-radius: 3px;
   
}

.main22_heading {
   padding-left: 40px;
   padding-top:40px;
   padding-bottom: 20px !important;
   border-bottom: 0.5px solid rgb(143, 143, 143) !important;
   
}
.costperitem{
    display:flex;
    justify-content: space-around;
    margin:20px auto;
}

.costperitem h5{
    font-weight: normal;
    font-size: 16px;
} 
.main22 >div{
    border-bottom: 0.5px solid rgb(143, 143, 143) !important;
}
.middlecontent{
    display: flex;
    justify-content: space-around;
    margin:20px auto;
    text-align: left !important;
}
.middle1{
    width:50%
}
.main22_last_section{
    display: flex
}